<div class="slides d-flex flex-column justify-content-center mb-5 bg-grays">
    <h3 class="align-self-start">Most popular</h3>
    <div id="carouselMostPopular" class="carousel slide p-lr">
        <div class="carousel-indicators">
            <button v-for="idx in size" type="button" data-bs-target="#carouselMostPopular" :data-bs-slide-to="idx-1"
                :class="{ active: idx == 1 }" :aria-current="idx == 1 ? 'true' : 'false'"
                :aria-label="'Slide ' + (idx-1)"></button>
        </div>
        <div class="carousel-inner overflow-visible">
            <div class="carousel-item " v-for="(movie, idx) in incomeMovies" :class="{active : idx==0}">
                <div class="courseItem " v-for="movie in incomeMovies" @click="showMovieInfo(movie.id)">
                    <img :src="movie.image" class="d-block w-100 h-100" alt="...">
                    <p
                        class="position-absolute title-movie bg-black text-white w-100 text-center translate-top-100 d-none">
                    <p>{{ movie.title }}</p>
                    <p>Rating: {{ movie.imDbRating }} - Year: {{movie.year}}</p>
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMostPopular" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMostPopular" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>